body {font-family: 'Open Sans', sans-serif;font-size: 14px;color: #272727;}

a {color: #ACC1C2}

@font-face {
    font-family: 'icomoon-freeregular';
    src: url('../font/icomoon.eot');
    src: url('../font/icomoon.eot?#iefix') format('embedded-opentype'),
         url('../font/icomoon.woff2') format('woff2'),
         url('../font/icomoon.woff') format('woff'),
         url('../font/icomoon.ttf') format('truetype'),
         url('../font/icomoon.svg#icomoon-freeregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

.uppercase {text-transform: uppercase!important;}
.violet {color: #661E3B!important;}
.orange {color: #EC7F18!important;}
.gold {color: #C6B444!important;}
.silver {color: #C7C7C7!important}
.text-normal {font-weight: 400;}
.text-bold {font-weight: 700;}

.wrapper {width: 970px;margin: 0 auto;}

.grid20 {width: 22%;}
.grid22 {width: 32%;}


header {position: relative;}
header > h1 {height: 110px;}
header > h1 > img {z-index: -1;position: relative;}
header > .min-menu {font-family: 'icomoon-freeregular';font-size:25px;color:#b4b4b4;position: absolute;top: 10px;right: 10px;text-decoration: none;display: none;}
header > .min-menu > span:before {content: "\e9bd";}

.nav-menu {border: 1px solid #D5D5D5; }
.menu {list-style-type: none;display: block;width: 100%;font-size: 0.9em;position:relative;z-index: 40;}
.menu li {display: inline-block;vertical-align: top;padding: 4px 24px;margin: 7px 0;border-right: 1px solid #D5D5D5;font-weight: 700;}
.menu li a {text-decoration: none;color: #5D5D5B;}
.menu li.active a {color: #C7C7C7;}

.main-banner {display: block;position: relative;}
.main-banner > .active {display: block;}

.tab-banner {display:none; height: 365px;position: relative;}
.tab-banner > img {position: absolute;bottom: 0;right: 20px;z-index: 10;}
.tab-banner > h2 {font-size: 44px;width: 55%;font-weight: 300;color: #b4b4b4;line-height: 50px;position:absolute;top:50px;left:45px;z-index: 20;}
.tab-banner > h2 .text-normal {display:block;font-size: 40px;line-height: 40px;}
.tab-banner > h2 > a {text-transform: uppercase;font-size: 14px;}

.opt-banner {text-align: center;position: relative;width: 100%;height: 70px;border: 1px solid #D5D5D5;z-index: 30;}
.ui-tab {
	display: inline-block;vertical-align: top;width:130px;height: 130px;text-align: center;text-transform: uppercase;color: #fff;padding: 55px 0;font-weight: 700;
	position: relative;bottom: 65px;border: 1px solid rgba(0,0,0,0.1);
	border-radius: 50%; -webkit-border-radius: 50%; -moz-border-radius: 50%; -ms-border-radius: 50%;
}
#tab1 {background-color: #661E3B;}
#tab2 {background-color: #EC7F18;}
#tab3 {background-color: #C6B444;}

.ui-experience {padding:30px;text-align: center;border: 1px solid #D5D5D5;border-top: 0;}
.ui-experience h2 {color: #C7C7C7;width: 40%;margin: 0 auto;font-weight:700;font-size: 24px;padding-top: 20px;margin-bottom: 15px;}
.ui-experience article {display: inline-block;vertical-align: top;text-align: left;font-size: 12px;font-weight: bold;}
.ui-experience article > span {display: inline-block;vertical-align: top;}
.ui-experience article > span.ui-exp-item {font-size: 34px;width: 40px;}
.ui-experience article > span.ui-exp-desc {width: 77%;padding-top: 4px;line-height: 1.3;}
.ui-experience article > span.ui-exp-desc a {text-transform: uppercase;display: block;margin-top: 20px;}

.main-container {padding: 30px;border: 1px solid #D5D5D5;border-top: 0;color: #b4b4b4;}

.ui-container {display: inline-block;vertical-align: top;width: 69%;margin-right: 3%}
.ui-container > h2 {font-size: 28px; font-weight: 700;margin-bottom: 20px;color: #272727;}
.ui-container > p {line-height: 1.5;}
.ui-container > #staff2 {margin-left: 5px;margin-right: 5px;}
.ui-container > .staff {display: inline-block;vertical-align: top;width: 32%;margin-top: 20px;}
.ui-container > .staff > img {display: block;margin-bottom: 10px;width: 100%;border: 1px solid #D5D5D5;}
.ui-container > .staff > span {display: block;text-align: right;}
.ui-container > .staff > span.staff-name {color: #272727;font-weight: 700;font-style: italic;line-height: 1.5}
.ui-container > .staff > span.staff-pos {text-transform: uppercase;}

.ui-sidebar {display: inline-block;vertical-align: top;width: 27%}
.ui-sidebar > h2 {font-size: 28px; font-weight: 700;margin-bottom: 20px;color: #272727;}
.ui-sidebar > hr {border:0;border-top: 1px solid #D5D5D5;margin-top: 20px; margin-bottom: 20px;}
.ui-sidebar > .readmore {text-transform: uppercase;display:block;margin-top: 20px;text-align: right;}
.ui-sidebar > article {}
.ui-sidebar > article > time {text-transform: uppercase;color: #272727;display:inline-block;margin-bottom: 8px;}
.ui-sidebar > article > time > span {font-weight: 700;}

.ui-footer-cols {padding: 30px; background-color: #E9E9E9;border: 1px solid #D5D5D5;border-top: 0;}
.ui-footer-cols > article {display: inline-block; vertical-align: top;position: relative;}
.ui-footer-cols > article > h2 {font-weight: 700;font-size: 20px;margin-bottom: 10px;}
.ui-footer-cols > article > ul > li {line-height: 1.5;font-size: 11px;text-transform: uppercase;}
.ui-footer-cols > article > ul > li:before {content: '\203A'; margin-right: 7px;}
.ui-footer-cols > article > ul > li > a {text-decoration: none;}
.ui-footer-cols > article > ul > li > a:hover {text-decoration: underline;}

.ui-footer-cols > article > blockquote {padding: 15px;background-color: #fff;border: 1px solid #D5D5D5;margin-bottom: 10px;}
.arrow {
	border-top: 10px solid #fff;
	border-left: 10px solid transparent; border-right: 10px solid transparent;
	position: absolute; bottom: 15px; right: 15px;margin-left: -10px;
}
.ui-footer-cols > article > .bq-author {display:block;text-align: right;}
.ui-footer-cols > article > .bq-author > span {font-weight: 700;font-style: italic;}

.moredata {height: 100px; margin: 20px 0;}

.col-left {float: left; width: 50%;text-align: left;}
.col-right {float: left; width: 50%;text-align: right;}

.ico-social {font-family: 'icomoon-freeregular';font-size:18px;text-decoration: none;}
.ico-facebook {color: #3A579C;}
.ico-facebook:before {content: '\ea8d';}
.ico-twitter {color: #1FA8E3;}
.ico-twitter:before {content: '\ea93'}
.ico-googleplus {color: #C80000;}
.ico-googleplus:before {content: '\ea89'; }







